*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-main: #121214;
  --bg-container: #84868c;
  --color-nintendo: #FF1626;
  --color-playstation: #0072FF;
  --color-text: #E5E7EB;
}

body {
  background-color: var(--bg-main);
  color: var(--color-text);
  font-family: system-ui, -apple-system, sans-serif;
}